<h1>About Me</h1>

<p>
To start, my name is Subaki. Just kidding. I wish though I do know a lot of origami and one of my favorite classes is the flier.
My real name is Jesus Mendoza and like I mentioned before I'm just joining the FE fandom. Because of the time and effort that
I am putting on this website and my education I'm still unsure about when or where to start delving into the roots of this
amazing franchise. I will be doing my best to make this a user friendly and functional environment for all of those who's
"sword hands are twitching" and "blood is aching" for a site like this. I will also be inviting feedback to make this site great.
</p>