<h1>Fanpage Awakening</h1>
<p>Hello! This is a fanpage for everything related to Fire Emblem. Sorry hardcore fans I have no knowledge of the games prior to Awakening.
I know, you want to release your wrath upon me but let's all get along. This page (as well as my mind) is in development so stay tuned for new
things to come. Thanks for your support and cooperation.</p>
